:root {
  --color-pure-white: hsl(0, 0%, 100%);
  --color-cream: hsl(30, 38%, 92%);
  --color-aurometal-saurus: hsl(228, 12%, 48%);
  --color-deep-aquamarine: hsl(158, 36%, 37%);
  --color-deep-aquamarine-hover: hsl(158, 42%, 18%);
  --color-gunmental: hsl(212, 21%, 14%);
}